@import "../../hero-fusion-theme.scss";

.h2{
  color: $orange-500;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .4);
  }
  
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    color: $white;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  a:hover{
    border: 1px solid $orange-500;
  }
  
  .active{
    font-weight: bold;
    color: $black !important;
    background-color: $orange-500;
  }